@import "./color.css";
@import "./element.css";
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family:
    PingFangSC,
    PingFang SC,
    Microsoft YaHei;
}
div::-webkit-scrollbar {
  width: 6px;
}
div::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: var(--c-scrollbar-thumb);
}
div::-webkit-scrollbar-track {
  border-radius: 2px;
  background: var(--c-scrollbar-track);
}
