:root {
  /* ========== 背景色 ========== */
  --c-bg: #ffffff; /* 主背景 */
  --c-bg-box: #edf3fa; /* 容器背景 */
  --c-bg-theme: #3b82f6; /* 主题背景 */
  --c-bg-theme-light: #b0caff; /* 主题背景-浅 */
  /* ========== 文字色 ========== */
  --c-text: #1e293b; /* 主文字 */
  --c-text2: #4b5563; /* 次要文字 */
  --c-text3: #0376fa; /* 重要文字 */
  --c-text-theme: #ffffff; /* 主题文字 */
  /* ========== 边框色 ========== */
  --c-border: #e2e8f0; /* 主边框 */
  /* ========== 其他 ========== */
  --c-scrollbar-thumb: #a8c9ff; /* 滚动条 */
  --c-scrollbar-track: #d9e1eb; /* 滚动条轨道 */
  --c-menu-active-bg: rgba(59, 130, 246, 0.15);
  --c-menu-hover-bg: rgba(59, 130, 246, 0.1);
}

html[data-theme="dark"] {
  /* ========== 背景色 ========== */
  --c-bg: #1e293b; /* 主背景 */
  --c-bg-box: #2c384d; /* 容器背景 */
  --c-bg-theme: #0e2344; /* 主题背景 */
  --c-bg-theme-light: #041938; /* 主题背景-浅 */
  /* ========== 文字色 ========== */
  --c-text: #f8fafc; /* 主文字 */
  --c-text2: #9ca3af; /* 次要文字 */
  --c-text3: #3292ff; /* 重要文字 */
  --c-text-theme: #ffffff; /* 主题文字 */

  /* ========== 边框色 ========== */
  --c-border: #374151; /* 主边框 */

  /* ========== 其他 ========== */
  --c-scrollbar-thumb: #56657d; /* 滚动条 */
  --c-scrollbar-track: #8599b6; /* 滚动条轨道 */
  --c-menu-active-bg: rgba(124, 136, 156, 0.15);
  --c-menu-hover-bg: rgba(124, 136, 156, 0.1);
}
