:root {
  --el-color-primary: var(--c-bg-theme);
}
.el-button:not(.is-link),
.el-select,
.el-input {
  height: 30px;
  line-height: 30px;
  border-radius: 2px;
}
.el-select__wrapper {
  min-height: 30px;
}
.el-input__wrapper {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 30px;
}
.el-button--small:not(.is-link) {
  height: 24px;
  line-height: 24px;
}
.el-date-editor.el-input,
.el-date-editor.el-input__wrapper {
  width: 100%;
}
